@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-style: normal;
}

body {
  margin: 0;
  height: auto;
}
.mySlides {
  display: none;
  height: 100%;
}
.mySlides img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  padding-top: 60px;
  height: 90vh;
  width: 100%;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 85%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-size: 50px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 6%;
}
.prev {
  left: 6%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c0edff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #2d9bf0;
}
.dot:hover {
  background-color: #2d9bf099;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Latest events cards */
.card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 23%;
  height: auto;
  display: inline-block;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: scale 0.6s ease;
}
.cardSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: scale 0.6s ease;
}
.card:hover {
  scale: 1.07;
}
.card img {
  border-radius: 8px;
  border-bottom: 1px solid #c0edff;
  height: 280px;
}
.card a {
  text-decoration: none;
}
h1,
h2 {
  color: #2d9bf0;
}

.card p {
  font-size: small;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  color: #000;
  margin: 7% 0px;
}
.card h4 {
  color: #2d9bf0;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 1%;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
}
.card-date-loc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(192, 237, 255, 0.5);
  border-radius: 0px 15px 0px 15px;
  height: 45px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

/*start global rules*/

.light {
  margin-left: 60px;
}

.topnav {
  background-color: #c0edff;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topnav img {
  width: 50px;
  margin: 5px;
}

.topnav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  width: max-content;
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}
.activeNav {
  font-weight: bolder;
  color: #2d9bf0;
}
.topnav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: rgb(5, 5, 140);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.topnav a:hover::after {
  transform: scaleX(1);
}

.topnav .icon {
  display: none;
  font-size: xx-large;
}

.div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #c0edff;
  box-shadow: 0px 0px 10px #000;
}

@media screen and (max-width: 1024px) {
  /*slider*/
  .prev,
  .next,
  .text {
    font-size: 25px;
  }
  /*card*/
  .card {
    width: 90%;
    height: auto;
  }
  .about {
    width: 90%;
    height: auto;
    font-size: small;
  }
  /*nav*/
  .topnav {
    justify-content: space-between;
    width: 90%;
  }
  .topnav div:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 9px;
  }
  .topnav.responsive div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .topnav.responsive .div1 {
    border-top: 1px solid #000;

    margin-top: 80px;
  }
  .darkMood .topnav.responsive .div1 {
    border-top: 1px solid #fff;
  }
  .topnav.responsive div a {
    display: block;
    text-align: center;
    margin: 10px;
  }
  .topnav.responsive a img {
    position: absolute;
    left: 0px;
    top: 5px;
  }
  .slider {
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .card {
    width: 45%;
    height: auto;
  }
}
/*reg*/
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.about {
  background: #f4f4f4;
  padding: 1.4rem;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.about p {
  color: #555;
}

.about .author {
  font-weight: bold;
  color: #2d9bf0;
}
footer {
  background-color: #c0edff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #c0edff;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.footer .left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.footer .logo img {
  width: 250px;
  height: auto;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.footer .social-icons a {
  margin: 0 12px;
  color: #2d9bf0;
  font-size: 22px;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: #2d9bf099;
}

.footer .copyright {
  color: black;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.footer .center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.footer .form-section {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  align-items: normal;
}

.footer .form-section input,
.footer .form-section textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.footer .form-section input {
  height: 28px;
}

.footer .form-section textarea {
  resize: none;
  height: 70px;
}

.footer .form-section input:focus,
.footer .form-section textarea:focus {
  border-color: #2d9bf0;
  outline: none;
  box-shadow: 0 0 5px rgba(45, 155, 240, 0.5);
}

.footer .form-section button {
  width: 100%;
  padding: 8px;
  background-color: #2d9bf0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.footer .form-section button:hover {
  background-color: #2d9bf099;
}
.footer .rghit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
  }
  .footer .left-section {
    width: 100%;
    align-items: center;
  }
  .footer .rghit-section {
    flex-direction: column-reverse;
  }
  .footer .center-section {
    margin-top: 15px;
  }
  .footer .copyright {
    margin: 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    flex-direction: row;
  }
}
/*dark mood*/
nav .moon a {
  font-size: 30px;
  color: black;
}

.darkMood nav {
  background-color: black;
}

.darkMood .topnav {
  background-color: black;
  color: #f4f4f4;
  color: #2d9bf0;
}

.darkMood .moon a i {
  color: white;
}
.darkMood nav .topnav .div1 a {
  color: #2d9bf0;
}
.darkMood .page {
  background-color: black;
  color: white;
}

.darkMood .card p {
  color: white;
}
.darkMood .card {
  background-color: rgb(0, 0, 0);
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.3);
}
.darkMood nav .topnav img {
  border: #f2f2f2;
  background-color: #f4f4f4;
  border-radius: 30px;
}
.darkMood #about {
  background-color: black;
}
.darkMood #about h2 {
  color: #2d9bf0;
}
.darkMood #about h1 {
  color: #2d9bf0;
}
.darkMood #about p {
  color: white;
}
.darkMood #about .about {
  background-color: rgb(25, 25, 67);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.darkMood footer {
  background-color: rgb(25, 25, 67);
}
.darkMood .footer {
  background-color: rgb(25, 25, 67);
}
.darkMood .footer .logo img {
  border: #f2f2f2;
  background-color: #f4f4f4;
  border-radius: 100%;
}
.darkMood .footer .copyright {
  color: white;
}
.darkMood .body {
  background-color: #000;
}
.darkMood .card-date-loc {
  background-color: rgb(25, 25, 67);
}
.darkMood .activeNav {
  color: white;
}
.darkMood .topnav a::after {
  background-color: #c0edff;
}

.darkMood .topnav .icon {
  color: #fff;
}
